<div class="row" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Ăn gì đây</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="icon-menu"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/reviews">Review</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Giới thiệu</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ANONYMOUS')" class="nav-item">
                        <a class="nav-link" href="/login">Đăng nhập</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ANONYMOUS')" class="nav-item">
                        <a class="nav-link" href="/signup">Đăng kí</a>
                    </li>
                    <li><a href="/eatery/create" class="btn btn-outline-light top-btn"><span class="ti-plus"></span>
                        Thêm quán ăn</a></li>
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <p style="display:inline" sec:authentication="name"></p>
                                <span class="icon-arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/logout">Đăng xuất</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>