<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thêm quán ăn</title>
    <div th:replace="partials/head"></div>
</head>
<body>
<div class="dark-bg sticky-top">
    <div class="container-fluid">
        <div th:replace="partials/header"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Thêm quán ăn</h5>
                    <form class="container form-signin" th:object="${eatery}" th:action="@{/eatery/saveEatery}" action="#" method="post">
                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputName">Tên quán</label>
                            </div>
                            <input type="hidden" th:field="*{id_user}">
                            <div class="col-10">
                                <input type="text" th:field="*{name}" id="inputName" class="form-control" placeholder="Tên quán" required autofocus>
                            </div>
                        </div>

                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputLocal">Địa chỉ</label>
                            </div>
                            <div class="col-10">
                                <input type="text" th:field="*{local}" id="inputLocal" class="form-control" placeholder="Địa chỉ" required>
                            </div>
                        </div>

                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label>Loại quán ăn</label>
                            </div>
                            <div class="col-10">
                                <select th:field="*{type}" id="inputType" class="form-control">
                                    <th:block th:each="etype : ${etypes}">
                                        <option th:value="${etype.id}" th:text="${etype.name}"></option>
                                    </th:block>
                                </select>
                            </div>

                            <div class="col-2">
                                <label for="inputOpen">Giờ hoạt động</label>
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{open}" id="inputOpen" class="form-control">
                            </div>
                            <div class="col-2">
                                <label for="inputClose" class="text-center">đến</label>
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{close}" id="inputClose" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputDesc">Mô tả</label>
                            </div>
                            <div class="col-10">
                                <textarea type="text" th:field="*{des}" rows="4" id="inputDesc" class="form-control" placeholder="Mô tả" required></textarea>
                            </div>
                        </div>

                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputPhone">Số điện thoại</label>
                            </div>
                            <div class="col-10">
                                <input type="number" th:field="*{phone}" id="inputPhone" class="form-control" placeholder="Số điện thoại" required>
                            </div>
                        </div>

                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputDesc">Hình ảnh</label>
                            </div>
                            <div class="col-10">
                                <input type="file" th:field="" id="inputFile" class="form-control-file">
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/footer"></div>
</body>
</html>