<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thêm Review</title>
    <div th:replace="partials/head"></div>
    <link rel="stylesheet" href="/css/rate.css">
</head>
<body>
<div class="dark-bg sticky-top">
    <div class="container-fluid">
        <div th:replace="partials/header"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Viết Review</h5>
                    <form th:object="${rItem}" th:action="@{save-review}" action="#" method="post" class="container form-signin">
                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputName">Tìm kiếm quán</label>
                            </div>
                            <div class="col-10">
                                <input type="text" th:value="${eItem.name}" id="inputName" class="form-control" placeholder="Nhập tên quán hay địa chỉ..." readonly>
                            </div>
                            <input type="hidden" th:field="*{idEatery}">
                        </div>

                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label>Xếp hạng tổng thế</label>
                            </div>
                            <span class="col-10 rating">
                                <input th:field="*{point}" value="1" type="radio" class="rating-input"
                                       id="rating-input-1-5" name="rating-input-1" required>
                                <label for="rating-input-1-5" class="rating-star"></label>
                                <input th:field="*{point}" value="2" type="radio" class="rating-input"
                                       id="rating-input-1-4" name="rating-input-1" required>
                                <label for="rating-input-1-4" class="rating-star"></label>
                                <input th:field="*{point}" value="3" type="radio" class="rating-input"
                                       id="rating-input-1-3" name="rating-input-1" required>
                                <label for="rating-input-1-3" class="rating-star"></label>
                                <input th:field="*{point}" value="4" type="radio" class="rating-input"
                                       id="rating-input-1-2" name="rating-input-1" required>
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input th:field="*{point}" value="5" type="radio" class="rating-input"
                                       id="rating-input-1-1" name="rating-input-1" required>
                                <label for="rating-input-1-1" class="rating-star"></label>
                            </span>
                        </div>
                        <div class="row mb-2 form-control-group">
                            <div class="col-2">
                                <label for="inputTitle">Tiêu đề bài Review</label>
                            </div>
                            <div class="col-10">
                                <input th:field="*{title}" type="text" id="inputTitle" class="form-control" required autofocus>
                            </div>
                        </div>
                        <div class="row mb-2 form-label-group">
                            <div class="col-2">
                                <label for="inputDesc">Nội dung</label>
                            </div>
                            <div class="col-10">
                                <textarea th:field="*{content}" type="text" rows="10" id="inputDesc" class="form-control" placeholder="Nội dung..." required></textarea>
                            </div>
                        </div>
                        <hr class="my-4">

                        <div class="row mb-2 form-control-group">
                            <div class="col-2">
                                <label for="inputTel">Số điện thoại của quán</label>
                            </div>
                            <div class="col-10">
                                <input th:field="*{tel}" type="tel" id="inputTel" class="form-control" autofocus>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row mb-2 form-control-group">
                            <div class="col-2">
                                <label for="inputWname">Tên wifi</label>
                            </div>
                            <div class="col-10">
                                <input th:field="*{wname}" type="tel" id="inputWname" class="form-control" autofocus>
                            </div>
                        </div>

                        <div class="row mb-2 form-control-group">
                            <div class="col-2">
                                <label for="inputWpass">Mật khẩu Wifi</label>
                            </div>
                            <div class="col-10">
                                <input th:field="*{wpass}" type="tel" id="inputWpass" class="form-control" autofocus>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials/footer"></div>
</body>
</html>