<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kết quả tìm kiếm</title>
    <div th:replace="partials/head"></div>
</head>

<body>
<!--============================= HEADER =============================-->
<div class="dark-bg sticky-top">
    <div class="container-fluid">
        <div th:replace="partials/header"></div>
    </div>
</div>
<!--//END HEADER -->
<!--============================= DETAIL =============================-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="row detail-filter-wrap">
                    <div class="col-md-4 featured-responsive">
                        <div class="detail-filter-text">
                            <p class="d-inline" th:text="${eateries.size() + ' kết quả cho '}"></p>
                            <p class="d-inline"><span th:text="${param.name}"></span></p>
                        </div>
                    </div>
                    <div class="col-md-8 featured-responsive">
                        <div class="detail-filter">
                            <p>Filter by</p>
                            <form class="filter-dropdown">
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                    <option selected>Best Match</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </form>
                            <form class="filter-dropdown">
                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect1">
                                    <option selected>Restaurants</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </form>
                            <div class="map-responsive-wrap">
                                <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row light-bg detail-options-wrap">
                    <th:block th:each="eatery : ${eateries}">
                    <div class="col-sm-4 col-lg-12 col-xl-4 featured-responsive">
                        <div class="featured-place-wrap">
                            <a th:href="@{/eatery/detail(id=${eatery.id})}">
                                <img src="images/featured1.jpg" class="img-fluid" alt="#">
                                <span class="featured-rating-orange" th:text="${#numbers.formatDecimal(eatery.point,1,'DEFAULT',1,'POINT')}"></span>
                                <div class="featured-title-box">
                                    <h6 th:text="${eatery.name}"></h6>
                                    <th:block th:each="etype : ${etypes}">
                                        <p th:if="${etype.id == eatery.type}" th:text="${etype.name}"></p>
                                    </th:block>
                                    <ul>
                                        <li><span class="icon-location-pin"></span>
                                            <p th:text="${eatery.local}"></p>
                                        </li>
                                        <li><span class="icon-screen-smartphone"></span>
                                            <p th:text="${eatery.phone}"></p>
                                        </li>
                                    </ul>
                                    <div class="bottom-icons">
                                        <div class="closed-now">CLOSED NOW</div>
                                        <span class="ti-heart"></span>
                                        <span class="ti-bookmark"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END DETAIL -->
<div th:replace="partials/footer"></div>

<!-- jQuery, Bootstrap JS. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>

</html>
